<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid bg-primary profile ">
  <h2 class="post-title">{{ bankreq.Hospital_Name }}</h2><br>
    <h3 class="post-subtitle">{{ bankreq.Address }}</h3>
    <hr style="height:2px; width:50%; color: black;">
    <p class="post-subtitle">Posted by
            <a href="#" style="text-decoration: none; color:white;">{{ object.author }}</a>
            on {{ object.date_posted }}</p>



</div>

<div class="contents container my-4">
    <h3 class="content"> Units of A positive blood are {{ bankreq.Units_of_A_Positive }}</h3>
    <h3 class="content"> Units of A negative blood are {{ bankreq.Units_of_A_Negative }}</h3>
    <h3 class="content"> Units of B positive blood are {{ bankreq.Units_of_B_Positive }}</h3>
    <h3 class="content"> Units of B negative blood are {{ bankreq.Units_of_B_Negative  }}</h3>
    <h3 class="content"> Units of O positive blood are {{ bankreq.Units_of_O_Positive }}</h3>
    <h3 class="content"> Units of O negative blood are {{ bankreq.Units_of_O_Negative }}</h3>
    <hr style="width: 60%; height: 2px;">
    <p class="post-meta">Posted by
            <a href="" >{{ object.author }}</a>
            on {{object.date_posted}}</p>
</div>

    {% if object.author == user %}
    <div class="container row " style="justify-content: center; text-align: center;">
        <a class="btn btn-secondary btn-lg mt-2 mb-1 mx-5 col-lg-3 float-right" style="display: flex;" href="{% url 'bank-update' object.Hospital_Name %}">Update</a>
       <a class="btn btn-danger btn-lg mt-2 mb-1 mx-5 col-lg-3 float-right" style="display: flex;"
          href="{% url 'bank-delete' object.Hospital_Name %}">Delete</a>


    </div>
    {% endif %}


</body>
</html>